 web only pico 2w cp9/.DS_Store
 web only pico 2w cp9/lib/.DS_Store
 web only pico 2w cp9/sim_sd/.DS_Store
 web only pico 2w cp9/sim_sd/snd/.DS_Store
 web only pico 2w cp9/sim_sd/snd_opt/.DS_Store
 web only pico 2w cp9/sim_sd/t_s_def/.DS_Store
 web only pico w cp8/.DS_Store
 web only pico w cp8/lib/.DS_Store
 web only pico w cp8/sim_sd/.DS_Store
 web only pico w cp8/sim_sd/customers_owned_music/.DS_Store
 web only pico w cp8/sim_sd/snd_opt/.DS_Store
 web only pico w cp8/sim_sd/t_s_def/.DS_Store
 web only pico w cp9/.DS_Store
 web only pico w cp9/lib/.DS_Store
 web only pico w cp9/sim_sd/.DS_Store
 web only pico w cp9/sim_sd/snd/.DS_Store
 web only pico w cp9/sim_sd/snd_opt/.DS_Store
 web only pico w cp9/sim_sd/t_s_def/.DS_Store
